.row{
    display: flex;
    align-items: center;
}

.welcome-text{
    font-size: 34px;
    font-weight: bolder;
    margin-left: 50px;
}

.edit-profile {
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #393838;
    border: 4px solid #27a2d3;
    border-radius: 20px;
    display: flex;
}

.edit-profile svg{
    font-size: 25px;
    margin-right: 5px;
}

.content-profile-container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.content-invites-container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}


.profile-invite-container {
    position: relative;
    display: flex;
}

.invites-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}


.fields-container{
    margin-top: 50px;
}

.edit-profile-container {
    display: flex;
    justify-content: flex-start;
}

.spacer {
    margin-right: 300px;
}
