.content-container-statistics{
    padding-left: 150px;
    display: flex;
    justify-content: center;
}

.chart-row {
    display: flex;
    gap: 150px;
}

.chart-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 30px;
    padding-right: 100px;
}

.card-income {
    width: 385px;
    height: 285px;
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.06));
    border-radius: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 7px 1px rgb(119, 236, 166);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-expense {
    width: 385px;
    height: 285px;
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.06));
    border-radius: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 7px 1px rgb(255, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sum {
    width: 500px;
    height: 375px;
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.06));
    border-radius: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 7px 1px rgb(59, 123, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet-selector{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position: relative;
    color: #f3f3f3;
    font-size: 28px;
    padding-bottom: 5px;
    padding-left: 30px;
}