/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.container{
    display:flex;
}
main{
    width: calc(100% - 220px);
    position: relative;
    z-index: 0;
}

.sidebar {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    height: 95vh;
    width: 60px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 2px #ffff;
    transition: all 0.5s;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}


.sidebar.expanded:hover {
    width: 200px;
}

.top_section{
    display: flex;
    align-items:center;
    padding: 20px 15px 25px;
}

.logo-text{
    font-size: 16px;
    font-weight: 600;
}

.logo{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.bars{
    font-size: 16px;
    padding-left: 8px;
}

.link{
    display: flex;
    color: #fff;
    padding: 20px 15px;
    gap: 15px;
    transition: all 0.5s;
    margin: 5px;
}
.link-add{
    display: flex;
    background: rgb(87, 194, 129);
    border-radius: 20px;
    color: #fff;
    padding: 20px 8px;
    gap: 15px;
    transition: all 0.5s;
    margin: 5px;
}


.link:hover, .link-add:hover{
    background: rgb(54, 54, 54);
    color: #c598ff;
    transition: all 0.5s;
    border-radius: 10px;
    margin: 5px;
}

.link-add.active {
    background: rgb(65, 175, 111);
    border-radius: 10px;
    color: #ffffff;
    margin: 5px;
}

.active{
    background-image: linear-gradient(to bottom right, #8c3bce, #4c97cc);
    border-radius: 10px;
    color: #ffffff;
    margin: 5px;
}
.icon_text{
    font-size: 18px;
    font-weight: 600;
}

.icon{
    margin-top: 3px;
    font-size: 20px;
}