.wallet-buttons {
    display: flex;
}

.wallet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    cursor: pointer;
}

.wallet-button.selected {
    background-color: rgb(55, 54, 79);
    color: #cccccc;
    border: 3px solid #67d9a0;
}

.wallet-selector {
    display: flex;
    align-items: center;
}

.arrow-left,
.arrow-right {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 10px;
}




